@page
<div class="container">
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery-2.1.1.js"></script>
<script src="~/signalR/signalr.js"></script>
<script src="~/lib/jquery/jquery.signalR-2.2.2.js"></script>
<script type="text/javascript">
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/push")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start()
        .catch(err => console.error(err.toString()));

    connection.on("ReceiveMessage", (message) => {
        const li = document.createElement("li");
        li.textContent = message;
        document.getElementById("messagesList").appendChild(li);
        console.log(message);
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessageToCaller", message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
</script>
